/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-footer button {
    margin-right: 0.2vw;
}

.card-header {
    display: flex;
}

.card-header button {
    margin-right: 0.2vw;
}

.card-header-sm {
    flex: 1.5;
    font-weight: 100;
    font-size: 60%;
    line-height: 3.5vh;
}

.card-header-med {
    flex: 1.7;
}

.card-header-lg {
    flex: 8.5;
}

footer {
    width: 100vw;
    height: 2vh;
    background-color: #111;
    color: #e8e8e8;
    text-align: center;
    a {
        text-decoration: none;
        color: #ff0000;
    }
}

html {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #121212;
}

html::-webkit-scrollbar {
    display: none;
}

.main-container {
    display: flex;
    background-color: #121212;
    width: 100vw;
    height: 98vh;
    color: #fff;
    font-weight: 600;
}

.main-content {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.metadata-clan {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-around; /* Distribui espaço uniformemente entre itens */
    margin: 20px 40px; /* Margem externa para distanciamento das bordas */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #e0e0e0; /* Cor de texto mais clara para melhor legibilidade */
    background-color: #333; /* Fundo escuro para contraste */
    padding: 10px; /* Espaçamento interno para visualização */
    border-radius: 5px; /* Bordas arredondadas para estética */

    /* Propriedades para fazer o elemento ficar "stick" no topo */
    position: sticky; /* Fixa o elemento no topo ao rolar a página */
    top: 0; /* Mantém o elemento fixo no topo da página */
    z-index: 1000; /* Garante que o elemento fique sobre outros conteúdos */

}

.main-content-nav {
    position: sticky;
    top: 0;
    z-index: 3;
    color: #e0e0e0;
    background-color: #121212;
}

.data-ordering {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.metadata-data-time {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.25%;
    width: 98%;
}

.main-landing {
    position: relative;
    display: flex;
    flex-direction: column;
}

.member-row {
    width: 99%;
    gap: 0.25vw;
    display: flex;
    margin-left: 0.50%;
    margin-right: 0.50%;
}

.member-card {
    width: 25vw;
    margin-bottom: 0.5vw;
    color: #fff;
    font-weight: 600;
    font-size: 1.25vw;
    overflow: hidden;
}

.member-tag-link {
    color: #ff0000;
    text-decoration: none;
    font-weight: 100;
    font-size: 50%;
}

.metadata-activity-container {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100vw;
    margin-bottom: 1%;
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.metadata-activity-map {
    width: 100vw;
}

@media (min-width: 801px) {
    .metadata-clan {
        top: 0;
    }
}

@media (max-width: 800px) {
    .main-content-nav {
        position: sticky;
        top: 0;
        z-index: 3;
        color: #e0e0e0;
        background-color: #121212;
    }
    
    .data-ordering {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    
    .metadata-data-time {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0.25%;
        width: 98%;
    }
    
    .card-header-sm {
        flex: 2;
    }

    .card-header-med {
        flex: 3.25;
    }

    .card-header i {
        font-size: 3.75vw;
    }

    .main-container {
        flex-direction: column;
        font-size: 90%;
    }

    .main-content {
        width: 100vw;
    }

    .main-landing {
        width: 100%;
        height: 20vh;
        position: relative;
    }

    .metadata-activity-container {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100vw;
        margin-bottom: 1%;
    }

    .metadata-activity-map {
        width: 200vw;
    }

    .metadata-clan {
        display: flex;
        align-items: center; /* Alinha os itens verticalmente no centro */
        justify-content: space-around; /* Distribui espaço uniformemente entre itens */
        margin: 2% 1%; /* Margem externa para distanciamento das bordas */
        font-size: 10px; /* Ajuste o tamanho da fonte conforme necessário */
        color: #e0e0e0; /* Cor de texto mais clara para melhor legibilidade */
        background-color: #333; /* Fundo escuro para contraste */
        padding: 5px;  /*Espaçamento interno para visualização */
        border-radius: 5px; /* Bordas arredondadas para estética */
    
        /* Propriedades para fazer o elemento ficar "stick" no topo */
        position: sticky; /* Fixa o elemento no topo ao rolar a página */
        top: 0; /* Mantém o elemento fixo no topo da página */
        z-index: 1000; /* Garante que o elemento fique sobre outros conteúdos */
    
        div {
            width: 6vw
        }
    }

    .member-row {
        flex-direction: column;
    }

    .member-card {
        width: 96vw;
        margin: auto;
        margin-bottom: 2vh;
        font-size: 5vw;
    }
  }